@import 'variables.scss';
@import 'mixins.scss';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import 'bootstrap.scss';
@import 'custom.scss';

//Fonts
body{
  font-family: 'Lato', sans-serif;
  @include font-regular;
}

h1,h2,h3,h4,h5,h6 {
  @include font-bold;
}

//Links
a {
  text-decoration: none;
  color: #fff;
}


body {
  color: $light;
  height: 100%;
  width: 100%;
  @include gradient(top,$dark-purple,$purple);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


