//Sass Mixins

//Font-Weight
@mixin font-light {  font-weight: 100;}
@mixin font-regular {  font-weight: 300;}
@mixin font-bold {  font-weight: 400;}
@mixin font-bolder {  font-weight: 700;}

//Gradients
@mixin gradient ($origin: left, $start: $lightfff, $stop: #000000) {
    background-color: $start;
    background-image: -webkit-linear-gradient($origin, $start, $stop);
    background-image: -moz-linear-gradient($origin, $start, $stop);
    background-image: -o-linear-gradient($origin, $start, $stop);
    background-image: -ms-linear-gradient($origin, $start, $stop);
    background-image: linear-gradient($origin, $start, $stop);
}

//Box-Shadow
@mixin box-shadow($top, $left, $blur, $color: rgba(0,0,0,.8), $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin box-shadow-md(){
	@include box-shadow(4px,0px,15px);
}

//Transforms
//--Scale--

@mixin scale($scale){
    -webkit-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

@mixin rotate($angle){
    -webkit-transform: rotate($angle);
    -ms-transform: rotate($angle);
    -o-transform: rotate($angle);
    transform: rotate($angle);
}


//Transitions

@mixin transition($prop:all, $timing: .3s, $easing: ease-in-out){
    -webkit-transition: $prop $timing $easing;
    -o-transition: $prop $timing $easing;
    transition: $prop $timing $easing;
}

@mixin transitionOutCubic (){
    -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}


//Border Radius

@mixin border-radius($radius){
    border-radius: $radius;
}

@mixin bdrs-sm {
    @include border-radius(3px);
}

@mixin bdrs-md {
    @include border-radius(5px);
}

@mixin bdrs-lg {
    @include border-radius(10px);
}