//Sass Mixins

//Font-Weight
@mixin font-light {  font-weight: 100;}
@mixin font-regular {  font-weight: 300;}
@mixin font-bold {  font-weight: 400;}
@mixin font-bolder {  font-weight: 700;}

//Gradients
@mixin gradient ($origin: left, $start: $lightfff, $stop: #000000) {
    background-color: $start;
    background-image: -webkit-linear-gradient($origin, $start, $stop);
    background-image: -moz-linear-gradient($origin, $start, $stop);
    background-image: -o-linear-gradient($origin, $start, $stop);
    background-image: -ms-linear-gradient($origin, $start, $stop);
    background-image: linear-gradient($origin, $start, $stop);
}

//Box-Shadow
@mixin box-shadow($top, $left, $blur, $color: rgba(0,0,0,.8), $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin box-shadow-md(){
	@include box-shadow(4px,0px,15px);
}
