
{{#Categories}}
	<div class="menu-item">
		<div class="bubble img-circle"></div>
		<div class="category-title">{{name}}</div>
		{{#projects}}
			<a class="project-item" href="#{{title}}">				
				<span>{{title}}</span>
				<small>{{description}}</small>
			</a>
		{{/projects}}
	</div>
{{/Categories}}